# Ignora le cartelle nascoste come .git e .ipynb_checkpoints
.git/
.ipynb_checkpoints/

# Ignora i file di build
dist/
*.egg-info/

# Ignora l'ambiente virtuale (se presente)
venv/
env/

#Ignora file inter processuali
apprend.png
grafico_output.png
results.txt

